body {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 15px;
    justify-content: center;
    align-items: center;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20px -90px;
}

.content {
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    margin: 15px;
    justify-content: center;
}

.footer-disco {
    width: 915px;
    height: 30px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #f94144, #f3722c, #f8961e, #f9844a, #f9c74f, #90be6d, #43aa8b, #4d908e, #577590, #277da1);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    font-weight: 600;
}

.footer {
    width: 915px;
    height: 30px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #505050, #373737, #6f6f6f, #adadad );
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    font-weight: 600;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

p {
    word-spacing: 2px;
}

#buttons {

    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(80, 80, 80, 0.7);
    margin-right: 15px;
}

/*.button {
    height: 50px;
    width: 90px;
    margin: 15px;
} */

#grid {
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: nowrap;
    aspect-ratio: 1 / 1;
    background-color: black;

}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.cell {
    flex: 1;
    background-color: bisque;
    margin: 1px;
}

.cell_new {
    flex: 1;
    background-color: #505050;
    margin: 1px;
}

.cell_color1 {
    flex: 1;
    background-color: #f94144 ;
    margin: 1px;
}

.cell_color2 {
    flex: 1;
    background-color: #f3722c ;
    margin: 1px;
}

.cell_color3 {
    flex: 1;
    background-color: #f8961e ;
    margin: 1px;
}

.cell_color4 {
    flex: 1;
    background-color: #f9844a;
    margin: 1px;
}

.cell_color5 {
    flex: 1;
    background-color: #f9c74f;
    margin: 1px;
}

.cell_color6 {
    flex: 1;
    background-color: #90be6d;
    margin: 1px;
}

.cell_color7 {
    flex: 1;
    background-color: #43aa8b;
    margin: 1px;
}

.cell_color8 {
    flex: 1;
    background-color: #4d908e;
    margin: 1px;
}

.cell_color9 {
    flex: 1;
    background-color: #577590;
    margin: 1px;
}

.cell_color10 {
    flex: 1;
    background-color: #277da1;
    margin: 1px;
}

.btn {
  width: 180px;
  height: 70px;
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: white;
 }
 
 .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 }
 
 .btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 
 .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
 }
 
 .btn::after {
  background-color: #fff;
 }
 
 .btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
 }